.the_band_text {
    color:grey ;
}
.bandpicture {
    display: flex;
    justify-content: center;
}
.bg-1{
    background: #2d2d30;
    color: #bdbdbd;
}
.fit-image{
    width: 100%;
}
.img-thumbnail p {
    color: #555;
}
.navbar-brand{
    color: white;
}